body{
    font-family:font-family: 'Anton', sans-serif; 
    margin: 0;
 }

 h1{ 
   font-size: 60px;
 }
 
 h3{ 
  color: red;
}
 .green-color{
    color: green; 
 }
 .flex-container {
    display: flex;
    margin-bottom: 100px;
 }

 .half-part{
    width: 50%;
    padding-left: 5%;
   
 }
 
 .half-part img{
    width: 100%;
   
 }
 .click-btn{
    text-decoration: none;
    background-image:(purple, royalblue);
    color: white;
    font-weight: 700;
    padding: 10px 30px ;
    border-radius: 10px;
 }
 .top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
    
   }
   .dream-big  {
      background-image: url(images/dream-bg.png);
         background-position: right;
         background-repeat: no-repeat;
         
         
    }
 .experience-item {
   box-shadow: 10px 10px 20px gray;
   width: 50%;
   margin-left:5% ;
   margin-right: 5%;
   padding: 10px;
   border-radius: 5px;
}
.experience-all{
   background-image: url(images/exp-bg.png);
     
      background-repeat: no-repeat;  
      background-position: left;    
} 
#web-dev{
 border-left: 10px solid;
 border-image:linear-gradient(royalblue , rgb(25, 209, 241)) ;
 border-image-slice: 1;
  
}
#baby-dev{
   border-left: 10px solid;
   border-image:linear-gradient(orange , red) ;
   border-image-slice: 1;
    
  }
  footer p{ 
   color: rgb(131, 128, 130);
   text-align:center ;
 }
 